# Ignore the dataset
data/*.csv
data/*.db

# Ignore Jupyter checkpoint files
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.__pyc
.vscode/
README-copy.md

#ignore Streamlit secrets file
.streamlit/secrets.toml